<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Home</ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="card">
        <ion-card-content>
            <div>

                <ion-title class="titulo">
                    TeLlevoApp
                </ion-title>
                <div>
                    <img src="assets/img/coche.jpg">
                </div>

            </div>
            <div class="inicio">
                <ion-button shape="deffault" mat-button color="primary" (click)="inicio()">Inicio Sesion</ion-button>
            </div>
            <div class="regis">
                <ion-button shape="deffault" mat-button color="primary" (click)="registro()">Registrarse</ion-button>
            </div>

        </ion-card-content>
    </ion-card>
</ion-content>