{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes, maximum-scale=3.0, minimum-scale=1.0">
    <title>Adopciones | Veterinaria Cola</title>
    <link rel="stylesheet" href="{% static 'adopciones/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'adopciones/css/adopciones.css'%}">
    <link rel="shortcut icon" href="{% static 'adopciones/icons/icon.png'%}">
</head>

<body>
    <div class="modal" id="modal">
        <div class="modal__content">
            <img src="" alt="" class="modal__img" id="modal__img">
        </div>
        <div class="modal__boton" id="modal__boton">X</div>
    </div>


    <header class="main-header">
        <div class="container container--flex">
            <h1 class="logo">Veterinaria Cola</h1>
        </div>
        <div class="main-header__contactInfo column ">
            <p class="main-header__contactInfo__phone">
                <span class="icon-phone"><img src="{% static 'adopciones/icons/icon-phone.png'%}" alt="" class="icon-phone">+569 1234 5678</span>
            </p>
            <p class="main-header__contactInfo__address">
                <span class="icon-location"><img src="{% static 'adopciones/icons/icon-location.png'%}" alt=""> Libertad #666 - Valparaíso, Chile</span>
            </p>
        </div>
    </header>

    <nav class="main-nav">
        <div class="container container--flex">
            <span class="icon-menu" id="btn-menu">
                <img src="{% static 'adopciones/icons/icon-menu.png'%}" alt="">
            </span>
            <ul class="menu" id="menu">
                <li class="menu__item">
                    <a href="/" class="menu__link">Inicio</a>
                </li>
                <li class="menu__item">
                    <a href="{% url 'adopciones'%}" class="menu__link menu__link--select">Adopciones</a>
                </li>
                <li class="menu__item">
                    <a href="{% url 'conocenos'%}" class="menu__link">Conócenos</a>
                </li>
                <li class="menu__item">
                    <a href="{% url 'contacto'%}" class="menu__link">Contacto</a>
                </li>
                <li class="menu__item">
                    <a href="{% url 'login_screen'%}" class="menu__link">Login</a>
                </li>
                <li class="menu__item">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="menu__link">Dashboard</a> {% endif %}
                </li>
            </ul>
            <div class="social-icon">
                <a href="" class="social-icon__link"><span class="icon"><img src="{% static 'adopciones/icons/icon-facebook.png'%}" alt=""></span></a>
                <a href="" class="social-icon__link"><span class="icon"><img src="{% static 'adopciones/icons/icon-twitter.png'%}" alt=""></span></a>
                <a href="" class="social-icon__link"><span class="icon"><img src="{% static 'adopciones/icons/icon-mail.png'%}" alt=""></span></a>
            </div>
        </div>
    </nav>

    <section class="banner">
        <img src="{% static 'adopciones/img/banner.jpg'%}" alt="" class="banner__img">
        <div class="banner__content">Tus mascotas en las mejores manos</div>
    </section>

    <main class="main">
        <div class="group gallery">
            <h2 class="group__title">Nuestras Mascotas en Adopción</h2>
            <div class="container container--flex">
                <div class="column column--50--25">
                    <img src="{% static 'adopciones/img/galeria/animal (1).jpg'%}" alt="" class="gallery__img gallery__img-big"><img src="{% static 'adopciones/img/galeria/animal (2).jpg'%}" alt="" class="gallery__img gallery__img-small">
                </div>
                <div class="column column--50--25">
                    <img src="{% static 'adopciones/img/galeria/animal (3).jpg'%}" alt="" class="gallery__img gallery__img-small"><img src="{% static 'adopciones/img/galeria/animal (4).jpg'%}" alt="" class="gallery__img gallery__img-big">
                </div>
                <div class="column column--50--25">
                    <img src="{% static 'adopciones/img/galeria/animal (5).jpg'%}" alt="" class="gallery__img gallery__img-big"><img src="{% static 'adopciones/img/galeria/animal (6).jpg'%}" alt="" class="gallery__img gallery__img-small">
                </div>
                <div class="column column--50--25">
                    <img src="{% static 'adopciones/img/galeria/animal (7).jpg'%}" alt="" class="gallery__img gallery__img-small"><img src="{% static 'adopciones/img/galeria/animal (8).jpg'%}" alt="" class="gallery__img gallery__img-big">
                </div>
            </div>
        </div>

    </main>

    <footer class="main-footer">
        <div class="container container--flex">
            <div class="column column--33">
                <h2 class="column__title">¿Por qué visitarnos?</h2>
                <p class="column__txt">Porqué cuidaremos a tus mascotas como si fueran nuestras, contamos con una amplia variedad de profesionales para brindar la mejor atención</p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Contáctanos</h2>
                <p class="column__txt">Libertad #666 - Valparaíso, Chile</p>
                <p class="column__txt">Teléfono: +569 1234 5678</p>
                <p class="column__txt">consultas@veterinariacola.com</p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Síguenos en nuestras redes sociales</h2>
                <p class="column__txt">
                    <a href="" class="icon-facebook"><img src="{% static 'adopciones/icons/icon-facebook.png'%}" alt="">Facebook</a>
                </p>
                <p class="column__txt">
                    <a href="" class="icon-twitter"><img src="{% static 'adopciones/icons/icon-twitter.png'%}" alt="">Síguenos en Twitter</a>
                </p>
                <p class="column__txt">
                    <a href="" class="icon-youtube"><img src="{% static 'adopciones/icons/icon-youtube.png'%}" alt="">Visita nuestro canal</a>
                </p>
            </div>
            <p class="copy">&copy; 2021 Veterinaria Cola | Todos los derechos reservados</p>
        </div>
    </footer>
    <script src="{% static 'adopciones/js/modal.js'%}"></script>
    <script src="{% static 'adopciones/js/menu.js'%}"></script>
</body>

</html>