<ion-header class="ion-no-border">
    <ion-item lines="none">
        <ion-avatar slot="end">
            <!--<img src="https://yt3.ggpht.com/a-/AOh14GjThP6xpdHXuwV9tVt7wMvBIytCfvZm4N_BkN1MrA=s288-c-k-c0xffffffff-no-rj-mo">-->
        </ion-avatar>
        <ion-label>
            <h2>SushiCola Menu</h2>

        </ion-label>
        <ion-buttons class="btn" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-content>
        <ion-list>
          <ion-item *ngFor="let data of datauser">
              <ion-label>
                <h3 ion-text color="primary">usuario: {{data.username}}</h3>
                <p>email : {{data.email}}</p>

              </ion-label>
              
          </ion-item>
        </ion-list>
      </ion-content>

    <div class="ion-padding wrapper">

        <ion-searchbar></ion-searchbar>

        <ion-grid class="ion-no-padding">
            <ion-row class="ion-text-center">
                <ion-col size="12">
                    <h4 class="title">
                        Sushis
                    </h4>
                </ion-col>

            </ion-row>
        </ion-grid>

    </div>

    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="12">
                <ion-slides [options]="options">

                    <ion-slide>
                        <ion-card class="card">
                            <ion-card-content class="ion-text-left">

                                <div class="img-wrapper">
                                    <ion-img src="assets/img/sushi.jpg"></ion-img>
                                </div>

                                <ion-card-title class="title">Título del sushi 1</ion-card-title>
                                <ion-card-subtitle>ingredientes 1</ion-card-subtitle>
                                <ion-card-subtitle>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                </ion-card-subtitle>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>

                    <ion-slide>
                        <ion-card class="card">
                            <ion-card-content class="ion-text-left">

                                <div class="img-wrapper">
                                    <ion-img src="assets/img/suhsi2.jpg"></ion-img>
                                </div>

                                <ion-card-title class="title">Título del sushi 2</ion-card-title>
                                <ion-card-subtitle>ingredientes 2</ion-card-subtitle>
                                <ion-card-subtitle>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star-half"></ion-icon>
                                </ion-card-subtitle>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>

                    <ion-slide>
                        <ion-card class="card">
                            <ion-card-content class="ion-text-left">

                                <div class="img-wrapper">
                                    <ion-img src="assets/img/sushi3.jpg"></ion-img>
                                </div>

                                <ion-card-title class="title">Título del sushi 3</ion-card-title>
                                <ion-card-subtitle>ingredientes 3</ion-card-subtitle>
                                <ion-card-subtitle>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </ion-card-subtitle>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>

                    <ion-slide>
                        <ion-card class="card">
                            <ion-card-content class="ion-text-left">

                                <div class="img-wrapper">
                                    <ion-img src="assets/img/sushi4.jpg"></ion-img>
                                </div>

                                <ion-card-title class="title">Título del sushi 4</ion-card-title>
                                <ion-card-subtitle>ingredientes 4</ion-card-subtitle>
                                <ion-card-subtitle>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                </ion-card-subtitle>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                    <!--
                    <ion-slide>
                        <ion-card class="card">
                            <ion-card-content class="ion-text-left">

                                <div class="img-wrapper">
                                    <ion-img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                                </div>

                                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                                <ion-card-subtitle>Some description here</ion-card-subtitle>
                                <ion-card-subtitle>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                </ion-card-subtitle>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>




                    <ion-slide>
                        <ion-card class="card">
                            <ion-card-content class="ion-text-left">

                                <div class="img-wrapper">
                                    <ion-img src="https://images.pexels.com/photos/361184/asparagus-steak-veal-steak-veal-361184.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                                </div>

                                <ion-card-title class="title">Some Awesome Dish Title</ion-card-title>
                                <ion-card-subtitle>Some description here</ion-card-subtitle>
                                <ion-card-subtitle>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                    <ion-icon name="star-outline"></ion-icon>
                                </ion-card-subtitle>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
-->
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>


    <!---   <div class="ion-padding-horizontal wrapper">

        <ion-grid class="ion-no-padding">
            <ion-row class="ion-align-items-baseline">
                <ion-col size="6">
                    <h4 class="title">
                        Explore Categories
                    </h4>
                </ion-col>
                <ion-col size="6">
                    <h4 class="more ion-text-end">
                        Show more
                    </h4>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

  <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="12">
                <ion-slides [options]="categories">

                    <ion-slide>
                        <ion-card class="category" color="danger">
                            <ion-card-header class="ion-text-center">
                                <ion-icon src="assets/dish.svg"></ion-icon>
                                <ion-card-title>Food</ion-card-title>
                                <ion-card-subtitle>Something here</ion-card-subtitle>
                            </ion-card-header>
                        </ion-card>
                    </ion-slide>

                    <ion-slide>
                        <ion-card class="category" color="primary">
                            <ion-card-header class="ion-text-center">
                                <ion-icon src="assets/cocktail.svg"></ion-icon>
                                <ion-card-title>Drink</ion-card-title>
                                <ion-card-subtitle>Something here</ion-card-subtitle>
                            </ion-card-header>
                        </ion-card>
                    </ion-slide>

                    <ion-slide>
                        <ion-card class="category" color="warning">
                            <ion-card-header class="ion-text-center">
                                <ion-icon src="assets/burger.svg"></ion-icon>
                                <ion-card-title>Burger</ion-card-title>
                                <ion-card-subtitle>Something here</ion-card-subtitle>
                            </ion-card-header>
                        </ion-card>
                    </ion-slide>

                    <ion-slide>
                        <ion-card class="category" color="success">
                            <ion-card-header class="ion-text-center">
                                <ion-icon src="assets/pizza.svg"></ion-icon>
                                <ion-card-title>Pizza</ion-card-title>
                                <ion-card-subtitle>Something here</ion-card-subtitle>
                            </ion-card-header>
                        </ion-card>
                    </ion-slide>

                    <ion-slide>
                        <ion-card class="category" color="tertiary">
                            <ion-card-header class="ion-text-center">
                                <ion-icon src="assets/taco.svg"></ion-icon>
                                <ion-card-title>Mexican</ion-card-title>
                                <ion-card-subtitle>Something here</ion-card-subtitle>
                            </ion-card-header>
                        </ion-card>
                    </ion-slide>

                    <ion-slide>
                        <ion-card class="category" color="danger">
                            <ion-card-header class="ion-text-center">
                                <ion-icon src="assets/cookies.svg"></ion-icon>
                                <ion-card-title>Dessert</ion-card-title>
                                <ion-card-subtitle>Something here</ion-card-subtitle>
                            </ion-card-header>
                        </ion-card>
                    </ion-slide>

                    <ion-slide>
                        <ion-card class="category" color="secondary">
                            <ion-card-header class="ion-text-center">
                                <ion-icon src="assets/noodle.svg"></ion-icon>
                                <ion-card-title>Noodle</ion-card-title>
                                <ion-card-subtitle>Something here</ion-card-subtitle>
                            </ion-card-header>
                        </ion-card>
                    </ion-slide>





                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
-->


    <div class="ion-padding-horizontal wrapper">

        <ion-grid class="ion-no-padding">
            <ion-row class="ion-text-center">
                <ion-col size="12">
                    <h4 class="title">
                        Gyosas
                    </h4>
                </ion-col>

            </ion-row>
        </ion-grid>

    </div>

    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col size="12">
                <ion-slides [options]="options">

                    <ion-slide>
                        <ion-card class="card">
                            <ion-card-content class="ion-text-left">

                                <div class="img-wrapper">
                                    <ion-img src="assets/img/gyozas1.jpg"></ion-img>
                                </div>

                                <ion-card-title class="title">Título gyosas 1</ion-card-title>
                                <ion-card-subtitle>ingredientes 1</ion-card-subtitle>
                                <ion-card-subtitle>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </ion-card-subtitle>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>

                    <ion-slide>
                        <ion-card class="card">
                            <ion-card-content class="ion-text-left">

                                <div class="img-wrapper">
                                    <ion-img src="assets/img/gyozas2.jpg"></ion-img>
                                </div>

                                <ion-card-title class="title">Título gyosas 2</ion-card-title>
                                <ion-card-subtitle>ingredientes 2</ion-card-subtitle>
                                <ion-card-subtitle>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </ion-card-subtitle>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>

                    <ion-slide>
                        <ion-card class="card">
                            <ion-card-content class="ion-text-left">

                                <div class="img-wrapper">
                                    <ion-img src="assets/img/gyozas3.jpg"></ion-img>
                                </div>

                                <ion-card-title class="title">Título gyosas 3</ion-card-title>
                                <ion-card-subtitle>ingredientes 3</ion-card-subtitle>
                                <ion-card-subtitle>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star-half"></ion-icon>
                                </ion-card-subtitle>
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>

                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--
    <div class="ion-padding">
        <ion-row>
            <ion-col size="6">
                <ion-badge color="light" class="ion-margin-end">
                    Habib Dev.
                </ion-badge>
            </ion-col>
            <ion-col size="6" class="ion-text-end">
                <ion-badge color="light">
                    habib.al-mawali.com
                </ion-badge>
            </ion-col>
        </ion-row>
    </div>
-->

</ion-content>