<ion-content [fullscreen]="true">

<ion-card>
  <ion-card-content>
    ¡Para cualquier viaje que quieras hacer saliendo de tu sede DuocUC!
  </ion-card-content>
</ion-card>

      <ion-row>
        <ion-col>
          <center>
            <ion-button shape="deffault" mat-button color="primary" (click)="pasa()">Iniciar Viaje</ion-button>
          </center>
        </ion-col>

      </ion-row>

    

<!-- <div class="perfil">
  <ion-button shape="deffault" mat-button color="primary" (click)="perfil()">Conductor</ion-button>
</div> -->