<ion-header>
    <ion-toolbar>
        <ion-title>Recuperar contraseña</ion-title>
    </ion-toolbar>
</ion-header>
<ion-card class="cardd">
    <ion-card-content color="">

        <ion-item color="">
            <ion-label position="floating">Correo</ion-label>
            <ion-input [(ngModel)]="correo" type="email" required></ion-input>
        </ion-item>


    </ion-card-content>
    <ion-button class="ion-margin-top" type="submit" expand="block" color="light" (click)="recuperar()">
        Recuperar
    </ion-button>

</ion-card>