<ion-header>
    <app-banner></app-banner>
</ion-header>
<ion-content>
    <ion-segment color="primary" [(ngModel)]="type" (ionChange)="segmentChanged($event)" value="login" class="hidden">
        <ion-segment-button value="login">
        </ion-segment-button>
        <ion-segment-button value="reset">
        </ion-segment-button>
        <ion-segment-button value="create">
        </ion-segment-button>
    </ion-segment>

    <div class="ion-padding-vertical" [ngSwitch]="type">
        <!-- 1 -->
        <ion-card class="ion-text-center ion-padding" *ngSwitchCase="'login'">
            <ion-card-title>Te Llevo App</ion-card-title>
            <div class="ion-padding-vertical">
                <form [formGroup]="loginForm">
                    <div>
                        <mat-form-field class="input-large">
                            <mat-label>Usuario</mat-label>
                            <input type="text" matInput formControlName="username" [(ngModel)]="username" required id="inUsernameLogin">
                            <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
                                <span *ngIf="loginForm.controls.username.errors.required">Ingresa tu usuario.</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="ion-padding vertical">
                        <mat-form-field class="input-large">
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="password" type="password" required id="inPasswordLogin">
                            <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                                <span *ngIf="loginForm.controls.password.errors.required" color="warn">Ingresa tu contraseña.</span
                        >
                      </mat-error>
                    </mat-form-field>
                  </div>
                  
                  <button mat-raised-button color="primary" (click)="ingresar()" class="ion-text-center ion-padding" id="btnIngresarLogin">
                    Ingresar
                  </button>
                  <button mat-raised-button color="primary" (click)="changeCreate()" class="ion-text-center ion-padding" id="btnCrearCuentaLogin">
                    Crear Cuenta
                  </button>
                  <mat-label class="ion-text-center ion-padding" (click)="changeReset()" id="btnRestablecerLogin">
                      ¿Olvidaste tu contraseña?
                </mat-label>
            </form>
        </div>
    </ion-card>
    </div>

    <div class="ion-padding-vertical" [ngSwitch]="type">
        <ion-card class="ion-text-center" *ngSwitchCase="'create'">
            <ion-card-header>
                <ion-card-title class="ion-text-left">Crear Cuenta</ion-card-title>
            </ion-card-header>
            <div class="ion-padding vertical ion-padding-horizontal">
                <form [formGroup]="createForm">
                    <div>
                        <mat-form-field class="input-large">
                            <mat-label>Usuario</mat-label>
                            <input matInput formControlName="username" [(ngModel)]="username" required />
                            <mat-error *ngIf="createForm.controls.username.touched && createForm.controls.username.invalid">
                                <span *ngIf="createForm.controls.username.errors.required">Ingresa tu usuario DuocUC.</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="input-large">
                            <mat-label>Contraseña</mat-label>
                            <input matInput type="password" formControlName="password" required />
                            <mat-error *ngIf="createForm.controls.password.touched && createForm.controls.password.invalid">
                                <span *ngIf="createForm.controls.password.errors.required">Ingresa tu contraseña.</span>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <ion-grid class="ion-text-left">
                        <ion-row>
                            <ion-col col-6>
                                <button mat-raised-button color="primary" (click)=crearCuenta() class="ion-padding-horizontal ion-padding-vertical" id="btnCrearCuenta">
                                    Crear Cuenta
                                  </button>
                            </ion-col>
                            <ion-col col-6>
                                <button mat-raised-button color="primary" type="button" (click)="atras()" class="ion-padding-horizontal ion-padding-vertical">
                                    Atrás
                                  </button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </form>
            </div>
        </ion-card>
    </div>

    <div class="ion-padding-vertical" [ngSwitch]="type">
        <ion-card class="ion-text-center" *ngSwitchCase="'reset'">
            <ion-card-header>
                <ion-card-title class="ion-text-left">Reestablecer Contraseña</ion-card-title>
            </ion-card-header>
            <div class="ion-padding vertical">
                <form [formGroup]="resetForm" (submit)="restablecer()">
                    <div>
                        <mat-form-field class="input-large ion-padding-vertical">
                            <mat-label>Nombre de Usuario</mat-label>
                            <input matInput formControlName="username" required id="resetUser">
                            <mat-error *ngIf="resetForm.controls.username.touched && resetForm.controls.username.invalid">
                                <span *ngIf="resetForm.controls.username.errors.required">Ingresa tu usuario DuocUC.</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" type="submit" class="ion-padding-horizontal ion-padding-vertical" id="btnRestablecer">
            Restablecer
          </button>
                    <button mat-raised-button color="primary" (click)="atras()">
            Atrás
          </button>
                </form>
            </div>
        </ion-card>
    </div>




    <!-- <div class="ion-padding-vertical">
        <ion-card class="ion-text-center">
            <ion-card-title>Te Llevo App</ion-card-title>
            <div class="ion-padding-vertical">
                <form [formGroup]="loginForm">
                    <div>
                        <mat-form-field class="input-large">
                            <mat-label>Usuario</mat-label>
                            <input type="text" matInput formControlName="username" [(ngModel)]="username" required>
                            <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.invalid">
                                <span *ngIf="loginForm.controls.username.errors.required">Ingresa tu usuario.</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="ion-padding vertical">
                        <mat-form-field class="input-large">
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="password" type="password" required />
                            <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                                <span *ngIf="loginForm.controls.password.errors.required" color="warn">Ingresa tu contraseña.</span
                        >
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <button mat-raised-button color="primary" (click)="submit()" class="ion-padding-horizontal ion-padding-vertical">
                    Ingresar
                  </button>
            </form>
        </div>
    </ion-card> 
</div>-->
</ion-content>