<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load static %}

<link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">

<head>
  <title>Dashboard Administracion</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Updock&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@389&display=swap');
      </style>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

      {% load static %}
</head>
<body>
    
    <div class="container-fluid">
        <div class="row">    
            <div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
                <ul class="sidenav admin-sidenav list-unstyled">
                    <li class="side"><a href="{% url 'dashboard' %}">Administracion</a></li>
                    <li class="side"><a href="{% url 'inventario' %}">Inventario</a></li>
                    <li class="side"><a href="{% url 'ventas' %}">Ventas</a></li>
                    <li class="side"><a href="{% url 'estadistica' %}">Estadistica</a></li>
                                
                </ul>
            </div> <!-- /#admin-sidebar -->
            <div id="admin-main-control" class="col-md-10 p-x-3 p-y-1">
                <div class="content-title m-x-auto">
                   <h1 class="titulopanel"><ion-icon name="construct-outline"></ion-icon>Panel de Administración</h1> 
                </div>
                <div class="content-title">
                  <h1 class="seccionespanel">'Administracion'</h1> 
               </div>
                <div class="card">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Combo</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Repartidor</th>
                            <th scope="col">N° Pedido</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>California Niu</td>
                            <td>5.100</td>
                            <td>Juan</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>California Furai</td>
                            <td>4.800</td>
                            <td>Pedro</td>
                            <td>2</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Hot Palmito</td>
                            <td>4.800</td>
                            <td>Esteban</td>
                            <td>3</td>
                          </tr>
                          
                        </tbody>
                      </table>
                      
                </div>
            </div> <!-- /#admin-main-control -->
        </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->
</body>

<footer class="fotterevent">
  <div class="footer-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h5 class="menubar">Cerrar Sesión</h5>
          <ul class="" fortext>
            <li><a style="color:#fff;" href="{% url 'logadm' %}">Logout</a></li>
            
            
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h5 class="menubar"></h5>
          <ul>
              <p class="card-text"><small class="text-muted"></small></p>
            
          </ul>
        </div>
        <div class="col-md-6 item text">
          
          <p class="card-text"><small class="text-muted">© SushiCola. Todos los derechos reservados.</small></p>
        </div>
        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
              class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-whatsapp"></i></a></div> 
      </div>
      <p class="copyright"><small class="text-muted">SushiCola © 2022.</small></p>
    </div>


</footer>  