<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>bienvenida</ion-title>
    </ion-toolbar>

    <ion-card class="bien">

        <ion-card-content>
            <ion-item lines="none">
                <ion-label>
                    Bienvenido {{usuario.nombre}} <br>¿Cómo quieres ingresar?
                </ion-label>
            </ion-item>
        </ion-card-content>

        
    </ion-card>

    <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="compUno">
          <ion-icon name="person-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="compDos">
          <ion-icon name="car-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>

    <!-- <div class="perfil">
        <ion-button shape="deffault" mat-button color="primary" (click)="perfil()">Conductor</ion-button>
    </div> -->
</ion-header>
<ion-content>
    <ion-router-outlet></ion-router-outlet>
    </ion-content>