<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load static %}

<link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Updock&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@389&display=swap');
      </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">    
            <div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
                <ul class="sidenav admin-sidenav list-unstyled">
                    <li><a href="#">Administracion</a></li>
                    <li><a href="#">Inventario</a></li>
                    <li><a href="#">Ventas</a></li>
                    <li><a href="#">Estadistica</a></li>
                                
                </ul>
            </div> <!-- /#admin-sidebar -->
            <div id="admin-main-control" class="col-md-10 p-x-3 p-y-1">
                <div class="content-title m-x-auto">
                   <h1 class="titulopanel"><i class="fa fa-dashboard"></i>Panel de Administracion</h1> 
                </div>
                <div class="card">
                    <p class="text-primary">This is where one might find all sorts of dashboard-y goodness...</p>
                    <p class="text-success">Instead, you're seeing Lorem Gibson, which is cooler than Lorem Ipsum, but a little less cool than Lorem Jackson.</p>
                    <p class="text-muted">Mostly, you'll find that I'm just finding excuses to use BS4's crazy cool classes...</p>
                    <p class="text-danger">Don't be distracted by all of this filler. The cool stuff is in the sidebar nav!</p>
                    <p>Military-grade dissident concrete knife RAF warehouse stimulate wonton soup sentient lights sub-orbital modem jeans. Ablative engine kanji sentient order-flow vehicle corporation plastic. Assassin Shibuya woman camera nano-network corrupted cartel boy. Tank-traps into youtube footage bicycle towards cyber-dissident. Futurity bridge modem skyscraper shanty town nodal point hotdog boat cartel A.I. DIY. Systema modem j-pop claymore mine singularity uplink tube systemic 3D-printed
                    </p>
                </div>
            </div> <!-- /#admin-main-control -->
        </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->
</body>