<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
      <ion-card>
        <ion-card-title>
          <ion-label *ngIf="NombreCompleto">
            {{user.nombre}} {{user.apellido}}
          </ion-label>
        </ion-card-title>
        <ion-card-content>
          <ion-list>
            <ion-label>Nombre: <ion-input
              placeholder="{{user.nombre}}"
              value="{{user.nombre}}"
            ></ion-input></ion-label>
            <ion-label>
              Apellido
              <ion-input
                placeholder="{{user.apellido}}"
                value="{{user.apellido}}"
              ></ion-input>
            </ion-label>
            <ion-label>
              Dirección
              <ion-input
                placeholder="{{user.direccion}}"
                value="{{user.direccion}}"
              ></ion-input>
            </ion-label>
            <ion-label>
              Teléfono
              <ion-input
                placeholder="{{user.telefono}}"
                value="{{user.telefono}}"
              ></ion-input>
            </ion-label>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-button expand="full" (click)="logout()">Logout</ion-button>
</ion-content>
