<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-form">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Iniciar Sesión</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Olvidaste tu contraseña?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
